/*! ClarendonParkDesigns 2015-03-03 */
@import url(http://fonts.googleapis.com/css?family=Raleway);

/* Commented out a lot of contact stuff as it can have a background later */

body, html {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #5a5a5a;
}

#view{
  padding-top:70px;
  min-height:500px;
}

#add{
  padding-top:100px;
  min-height:500px;
}

.feedOption{
  margin-bottom:20px;
}

.col-eq{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.rssUrlInput{
  width: -moz-calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}
.maxWidth{
  width:100%;
}

.homelink, .feedlink{
  padding-left:0px;
  padding-right:0px;
  display: inline-block;
  height:100%;
}

.homelink div{
  padding-right:10px;
}

.feedlink{
  background:#B2FFE6;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.tab{
  margin-left: 40px;
}
