<section id="view" class="container">
<div class="row">
	<div class="col-xs-4">
    <aside id="feed-{{feed.ID}}" ng-repeat="feed in feeds" class="feedOption">
      <p>
        <a href="{{feed.link}}" ng-bind="feed.name">Visit Site</a>
        <span>>>>></span>
      </p>
      <p ng-bind="feed.desc"></p>
    </aside>
    <aside id="feed-add" class="feedOption">
      <!--<p>New RSS Feed:</p>-->
      <p>
        <input type="text" name="rssUrl" ng-model="rssUrl" placeholder="New RSS Url" class="rssUrlInput" />
        <button class="btn btn-default" ng-click="addFeed(rssUrl)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </p>
    </aside>
	</div>
	<div class="col-xs-8">
	Hi, {{ test }}


	</div>
</div>
</section>